.mainmenubuttoncontainer {
    position: absolute;
    left: 0;
    top : 0;
    margin : 5px;
    opacity: 0.3;
}

.mainmenubuttoncontainer:hover {
        opacity: 1;
}

.mainmenu {
    position: absolute;
    margin : 0px;
    left: 0;
    top: 0;
    right : 0;
    bottom: 0;
    display:none;
    background: white;
    opacity: 1;
}