html, body {
    width: 100%;
    height: 100%;
    margin : 0px;    
}
body {
    display:  flex;
    flex-direction: column;
}
#topmenu {
    background-color: aquamarine;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
#oprviewcontainer {
    background-color: bisque;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}